<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title
	th:text="'Weather Application'"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}">Weather App</a>
		</nav>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<p>
			Project developed using IDE Eclipse + Spring Plugins (STS
			Spring Tool), Armando Palacios.<br /> &copy; Company 2019
		</p>
	</footer>
</body>
</html>